.test {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  /* gap: 10px; */
}

h1 {
  font-size: 5vmin;
  /* color: black; */
}

h2 {
  text-align: center;
  /* font-size: 30px; */
  font-size: 4vmin
}

h3 {
  /* font-size: 20px; */
  font-size: 2.5vmin;
}

p {
  /* font-size: 15px; */
  font-size: 2vmin;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-top {
  /*this centers the text*/
  display: flex;
  justify-content: center;
  align-items: center;

  height: 13vh;
  width: 100%;
  color: white;
  background-color: rgb(68, 66, 105);
  /* background-color: rgb(192, 191, 213); */
}

.App-picture {
  position: absolute;

}

.App-info-display {
  position: relative;
  /* min-height: 60vh; */
  height: 100%;
  width: 75%;
  top: 5vh;
  margin: auto;
  background-color: rgb(192, 191, 213);
}

.App-background {
  position: relative;
  /* min-height: 100vh; */
  min-height: 100vh;
  width: 100%;
  isolation: isolate;
}
/*what makes the background transparent*/
.App-background::after {
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;*/
  content: '';
  position: fixed;
  z-index: -1;
  inset: 0;
  /* background: pink; */
  opacity: .3;

  background-image: url(/src/Genshin-Impact-Anniversary.jpg);
  background-size: cover;
  background-position: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
