.test1 {
  position: relative;
  width: 90%;
  margin: auto;
}

.profile-switch {
  position: relative;
  /* align-content: center; */
  justify-content: space-between;
  /* margin-top: 50%; */
  padding-left: 0;
}

.image-card,
.name-card,
.weaponline {
  border-radius: 10px;
}

.weaponline {
  background-color: #171143;
  margin-top: 5%;
}

.name-card {
  background-color: #C89B40;
  margin: 0;
  padding: 2%;
}

.image-card {
  background-color:#171143;
}

.skill-card {
  width: 100%;
  min-height: 40vh;
  border-radius: 50%;
}

.info-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 10px; */
}

h1 {
  font-size: 5vmin;
  /* color: black; */
}

h2 {
  text-align: center;
  /* font-size: 30px; */
  font-size: 4vmin
}

h3 {
  /* font-size: 20px; */
  font-weight: bold;
  font-size: 2.5vmin;
  margin-right: 0.5em;
  margin-top: 0px;
}

p {
  /* font-size: 15px; */
  font-size: 2vmin;
}

.weaponline h3 {
  /* display: inline-block;
  vertical-align: sub;
  text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  color: white;
}

.App {
  text-align: center;
}

.App-top {
  /*this centers the text*/
  display: flex;
  justify-content: center;
  align-items: center;

  height: 13vh;
  width: 100%;
  color: white;
  background-color: #171143;
  /* background-color: rgb(192, 191, 213); */
}

.App-picture {
  position: absolute;
}

.App-info-display {
  position: relative;
  /* min-height: 60vh; */
  height: 100%;
  width: 90%;
  top: 0.25vh;
  margin: auto;
  /* justify-content: center; */
  background-color: #D4D0DE;
  border-radius: 15px;
  border: 1px solid black;
}

.App-background {
  position: relative;
  min-height: 100vh;
  width: 100%;
  isolation: isolate;
}
/*what makes the background transparent*/
.App-background::after {
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;*/
  content: '';
  position: fixed;
  z-index: -1;
  inset: 0;
  /* background: pink; */
  opacity: .3;

  background-image: url(/src/images/Genshin-Impact-Anniversary.jpg);
  background-size: cover;
  background-position: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
